/* .slide {
  width: 300px;
} */

.slider {
  /* Elements will move relative to their normal position */
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 60%;
}

.slider img {
  width: 100%;
  /* width: 40%; */
  display: none;
  background-color: black;
  border-radius: 20px;
}

img.displaySlide {
  display: block;
  /* calling our fade animation, causes the white fade in */
  animation-name: fade;
  animation-duration: 1.5s;
}

.correction {
  filter: brightness(1.75);
}

.slider button {
  /* positions an element relative to its parent (.slider element)*/
  position: absolute;
  /* moves top of button down 50% of parent's height */
  top: 50%;
  /* translateY up 50% of the button's height to reach the center of the parent container */
  transform: translateY(-50%);
  font-size: 2rem;
  /* remove bit of padding above text character */
  line-height: 2rem;
  background: hsl(0, 0%, 100%, 0.2);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 8px;
  vertical-align: baseline;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  color: black;
  background-color: black;
}

/* animation is named fade, need to call it */
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
